body {
  background-image: linear-gradient(rgb(133, 185, 250), lightblue);
  font-family: Calibri, Arial, sans-serif;
}

.card {
  box-shadow: 10px 10px 5px grey;
}

.navbar-brand {
  color: darkblue;
}

.nav-link {
  color: darkblue;
}

.contactForm {
  margin: auto;
  width: 60vw;
}

.divdebugbox {
  border: thin solid;
  border-top-color: skyblue;
  border-bottom-color: skyblue;
  background-color: white;
  margin: 5vw;
  padding: 5vw;
}

.footerLook {
  background-color: white;
  margin: 2vw;
}

.navbar {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  margin-bottom: 0px;
  opacity: 0.3;
}



.navbar:hover {
  background-color: rgba(133, 185, 250, 1.0);
  z-index: 1;
 }

.NavBar a {
  float: left;
}

.NavBar a:hover {
  color: black;
  font-weight: bold;
}

.nav-item {
  background-color: transparent;
}

.jumbotron {
  background-image: url("./Assets/solidFountainSkyLimit.JPG");
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

#landingImage {
  padding: auto;
}

.JTheadline {
  padding-top: 15vw;
  color: black;
}

.JTsubtitle {
  padding-bottom: 6vw;
  padding-left: 11vw;
  color: black;
}

@media only screen and (max-width: 480px) {
  .JTheadline {
    padding-top: 15vw;
    color: snow;
  }
  
  .JTsubtitle {
    padding-bottom: 6vw;
    padding-left: 11vw;
    color: snow;
  }
}



.alignToCenter {
  text-align: center;
  font-weight: bold;
}

.mySkillsText {
  font-size: 20px;
}

.card:hover {
  border: thin solid darkblue;
}

.alignImagesToCenter {
  margin-left: auto;
  margin-right: auto;
}

.blockText {
  text-align: justify;
  text-justify: inter-word;
}

.divSectionSpacing {
  margin: 5vh 0 5vh 0;
  padding: 2vh;
}

.footerIcon {
  height: 30px;
  margin-right: 3vw;
}

.firstfooterIcon {
  padding-left: 20vw;
}

.footerCR {
  color: darkgrey;
  float: right;
  margin-left: 10vw;
  padding-top: 2vw;
}

.Footer {
  margin: auto;
}

.centeringContents {
  margin-left: auto;
  margin-right: auto;
}

.skillsImages {
  height: 80px;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mySkills {
  margin-top: 2vw;
}

.portfolioRows {
  margin-top: 2vw;
}


/* Contact Form */
#full-name {
  width: 26vw;
  min-width: 160pt;
  background-color: lightblue;
}

.full-name-content {
  padding-right: 28px;
}

#email-address {
  width: 26vw;
  min-width: 160pt;
  background-color: lightblue;
}

.email-address-content {
  padding-right: 2px;
}

#message {
  width: 26vw;
  min-width: 160pt;
  background-color: lightblue;
}

.message-content {
  padding-right: 36px;
}

.sumbitBtn {
  background-color: lightblue;
}